include README.md
include pyproject.toml
include requirements.txt
recursive-include src *.py
prune venv
prune tests
prune docs
prune .git
prune .github
prune dist
prune build
prune __pycache__
recursive-exclude src __pycache__
recursive-exclude src *.pyc
